{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Home Five || Cleanin || Cleanin HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/favicons/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicons/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'assets/images/favicons/site.webmanifest' %}" />
    <meta name="description" content="Cleanin HTML 5 Template " />

    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&amp;family=Heebo:wght@100..900&amp;display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'assets/css/01-bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/02-animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/03-custom-animate.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/05-flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/06-font-awesome-all.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/07-jarallax.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/08-jquery.magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/09-nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/10-odometer.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/11-owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/12-owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/13-jquery-ui.css' %}" />


    <link rel="stylesheet" href="{% static 'assets/css/module-css/01-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/02-about.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/03-services.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/04-testimonial.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/05-team.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/06-blog.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/07-contact.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/08-counter.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/09-error.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/10-faq.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/11-footer.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/12-page-header.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/13-shop.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/14-video.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/award.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/before-and-after.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/module-css/brand.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/client.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/coming-soon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/contact-info.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/cost-calculator.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/cta.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/download-app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/feature.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/google-map.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/history.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/newsletter.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/office-location.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/pricing.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/privacy.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/project.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/skill.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/sliding-text.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/why-choose.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/module-css/working-process.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}" />
    <!-- template styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}" />
</head>

<body class="custom-cursor">

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>
    <!--Start Preloader-->
    <div class="loader js-preloader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!--End Preloader-->

    <div class="page-wrapper">

        {% include 'header.html' %}

        {% block body %} {% endblock %}

        {% include 'footer.html' %}

    </div>

    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>


        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
                <a href="index.html" aria-label="logo image">
                    <img src="assets/images/resources/logo-2.png" alt="Logo" />
                </a>
            </div>
            <div class="mobile-nav__container"></div>
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="icon-envelope"></i>
                    <a href="mailto:needhelp@packageName__.com">needhelp@cleanin.com</a>
                </li>
                <li>
                    <i class="icon-phone-call"></i>
                    <a href="tel:666-888-0000">666 888 0000</a>
                </li>
            </ul>
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="icon-facebook-app-symbol"></a>
                    <a href="#" class="icon-twitter-1"></a>
                    <a href="#" class="icon-instagram"></a>
                    <a href="#" class="icon-pinterest"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.mobile-nav__wrapper -->

    <!-- ==== search popup start ==== -->
    <div class="search-popup">
        <button class="close-search" aria-label="close search box" title="close search box">
            <span class="icon-plus-1"></span>
        </button>
        <form action="#" method="post">
            <div class="search-popup__group">
                <input type="text" name="search-field" id="searchField" placeholder="Search Here..." required>
                <button type="submit" aria-label="search products" title="search products">
                    <i class="icon-search-interface-symbol"></i>
                </button>
            </div>
        </form>
    </div>
    <!-- ==== / search popup end ==== -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top">
        <span class="scroll-to-top__wrapper"><span class="scroll-to-top__inner"></span></span>
        <span class="scroll-to-top__text"> Go Back Top</span>
    </a>

    <script src="{% static 'assets/js/jquery-latest.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.event.move.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <script src="{% static 'assets/js/knob.js' %}"></script>
    <script src="{% static 'assets/js/marquee.min.js' %}"></script>
    <script src="{% static 'assets/js/twentytwenty.js' %}"></script>
    <script src="{% static 'assets/js/typed-2.0.11.js' %}"></script>
    <script src="{% static 'assets/js/wNumb.min.js' %}"></script>
    <script src="{% static 'assets/js/curved-text/jquery.circleType.js' %}"></script>
    <script src="{% static 'assets/js/curved-text/jquery.fittext.js' %}"></script>
    <script src="{% static 'assets/js/curved-text/jquery.lettering.min.js' %}"></script>
    <script src="{% static 'assets/js/gsap/gsap.js' %}"></script>
    <script src="{% static 'assets/js/gsap/ScrollTrigger.js' %}"></script>
    <script src="{% static 'assets/js/gsap/SplitText.js' %}"></script>


    <script src="{% static 'assets/js/01-bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/02-countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/03-jquery.appear.min.js' %}"></script>
    <script src="{% static 'assets/js/04-jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/05-owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/06-jarallax.min.js' %}"></script>
    <script src="{% static 'assets/js/07-odometer.min.js' %}"></script>
    <script src="{% static 'assets/js/08-jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/09-jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/10-wow.js' %}"></script>
    <script src="{% static 'assets/js/11-isotope.js' %}"></script>
    <script src="{% static 'assets/js/12-jquery-sidebar-content.js' %}"></script>


    <!-- template js -->
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>