{% load static %}
<!--Start Site Footer-->
        <footer class="site-footer">
            <div class="shape1"><img src="assets/images/shapes/footer-v1-shape1.png" alt=""></div>
            <div class="shape2"><img src="assets/images/shapes/footer-v1-shape2.png" alt=""></div>
            <div class="shape3"><img src="assets/images/shapes/footer-v1-shape2.png" alt=""></div>
            <!--Start Site Footer Top-->
            <div class="site-footer__top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".0s">
                            <div class="footer-widget__single footer-widget__about">
                                <div class="site-footer__logo">
                                    <a href="index.html"><img src="assets/images/resources/logo-2.png" alt=""></a>
                                </div>

                                <div class="footer-widget__about-text">
                                    <p>We use natural and eco-friendly cleaning products and have a customer
                                        satisfaction guarantee.</p>
                                </div>

                                <div class="footer-widget__about-social-links">
                                    <ul>
                                        <li><a href="#"><span class="icon-facebook-app-symbol"></span></a></li>
                                        <li><a href="#"><span class="icon-twitter-1"></span></a></li>
                                        <li><a href="#"><span class="icon-linkedin-big-logo"></span></a></li>
                                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                            <div class="footer-widget__single footer-widget__services">
                                <div class="title-box">
                                    <h2>Services</h2>
                                    <div class="line"></div>
                                </div>

                                <ul class="footer-widget__services-list">
                                    <li><a href="house-cleaning.html"><span class="icon-right-chevron"></span> House
                                            Cleaning</a>
                                    </li>
                                    <li><a href="window-cleaning.html"><span class="icon-chevron"></span> Window
                                            Cleaning</a></li>
                                    <li><a href="house-cleaning.html"><span class="icon-right-chevron"></span> Room
                                            Cleaning</a>
                                    </li>
                                    <li><a href="residential-cleaning.html"><span class="icon-right-chevron"></span>
                                            Kitchen
                                            Cleaning</a>
                                    </li>
                                    <li><a href="residential-cleaning.html"><span class="icon-right-chevron"></span>
                                            Toilet
                                            Cleaning</a>
                                    </li>
                                    <li><a href="commercial-cleaning.html"><span class="icon-right-chevron"></span>
                                            Outdoor
                                            Cleaning</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                            <div class="footer-widget__single footer-widget__contact">
                                <div class="title-box">
                                    <h2>Official info:</h2>
                                    <div class="line"></div>
                                </div>

                                <ul class="footer-widget__contact-list">
                                    <li>
                                        <div class="icon-box">
                                            <span class="icon-placeholder"></span>
                                        </div>

                                        <div class="text-box">
                                            <p>3060 Commercial Street Road <br>
                                                Fratton, Australia</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon-box">
                                            <span class="icon-phone-call"></span>
                                        </div>

                                        <div class="text-box">
                                            <p><a href="tel:1234567890">+817 895 74555</a></p>
                                            <p><a href="tel:1234567890">+817 895 74555</a></p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon-box">
                                            <span class="icon-envelope"></span>
                                        </div>

                                        <div class="text-box">
                                            <p><a href="mailto:yourmail@email.com">help24/7@cleanin.com</a></p>
                                            <p><a href="mailto:yourmail@email.com">help24/7@cleanin.com</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="footer-widget__single footer-widget__newsletter">
                                <div class="title-box">
                                    <h2>Newsletter</h2>
                                    <div class="line"></div>
                                </div>

                                <div class="footer-widget__newsletter-text">
                                    <p>Subscribe our newsletter to get our latest update & news</p>
                                </div>

                                <div class="footer-one__subscribe-form">
                                    <form class="subscribe-form" action="#">
                                        <input type="email" name="email" placeholder="Your E-mail">
                                        <button type="submit" class="thm-btn">Subscribe
                                            <i class="icon-next"></i>
                                            <span class="hover-btn hover-bx"></span>
                                            <span class="hover-btn hover-bx2"></span>
                                            <span class="hover-btn hover-bx3"></span>
                                            <span class="hover-btn hover-bx4"></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Site Footer Top-->

            <!--Start Site Footer Bottom-->
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="site-footer__bottom-inner">
                                <div class="site-footer__copyright">
                                    <p>Copyright@ 2025 <a href="index.html">Cleanin</a>. All Rights Reserved.</p>
                                </div>

                                <ul class="site-footer__bottom-menu">
                                    <li><a href="privacy.html">Setting & Privacy </a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact-1.html">Support</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Site Footer Bottom-->
        </footer>
        <!--End Site Footer-->